.card-title {
    position: absolute;
    top: -18px;
    left: 28px;
    padding: 10px 12px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1976d2;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 3px 5px rgb(36 159 253 / 30%);
}
