@tailwind base;
@tailwind components;
@tailwind utilities;

/*flex居中*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --parimary-color: #b37feb;
    --shadow-color: #efdbff;
    --result-color:#f9f0ff
}

/*主色*/
.color-main {
    color: var(--parimary-color)
}

.bg-color-main {
    background-color: var(--parimary-color)
}

.bg-color-result {
    background-color: var(--result-color)
}


::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--parimary-color);
    border-radius: 6666rem;
}