@tailwind base;
@tailwind components;
@tailwind utilities;

/*flex居中*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*主色*/
.color-main {
    color: #13c2c2
}

.bg-color-main {
    background-color: #13c2c2
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #13c2c2;
    border-radius: 6666rem;
}