.title-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(255,255,255,.65);
}

.title-btn:hover {
    color: rgba(255,255,255,.35);
}

.link {
    color: rgba(255,255,255,.65);
}

.link:hover {
    color: rgba(255,255,255,.35);
}