.title-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #1890ff;
}

.title-btn:hover {
    color: #93C5FD
}

.link {
    color: #1890ff;
}

.link:hover {
    color: #93C5FD
}