.title-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #9c27b0;
}

.title-btn:hover {
    color: #7b1fa2
}

.link {
    color: #9c27b0;
}

.link:hover {
    color: #7b1fa2
}