.explain-li:before {
    position: relative;
    content: "";
    left: -.25rem;
    margin-right: .25rem;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #78bd9a;
    border: .125rem solid #c9e5d7;
}