.explain-li:before {
    position: relative;
    content: "";
    left: -.25rem;
    margin-right: .25rem;
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #1677ff;
    border: 2px solid #BFDBFE;
}