.explain-li:before {
    position: relative;
    content: "";
    left: 0;
    top: 2px;
    margin-right: .25rem;
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #1677ff;
    border: 3px solid #BFDBFE;
}