.explain-li{
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    width: 14px;
    min-width: 14px;
    height: 14px;
    background-color: #1890ff;
    border: 3px solid #bde2fe;
}