.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.content {
    width: 95%;
    max-width: 800px;
    padding: 6px;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: "PingFang SC", "Microsoft Yahei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f4f8fb;
}