.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #FAFAFA;
    min-height: 100vh;
}

.content {
    width: 95%;
    max-width: 1200px;
    padding: 6px;
}

a {
    text-decoration: none;
}