.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #F4F8FB;
    min-height: 100vh;
    position: relative;
}

.content {
    width: 100%;
    max-width: 1024px;
    padding: 6px 9px;
}

body {
    padding: 0;
    margin: 0;
}